.skills .icon {
  position: relative;
  height: 3rem;
  width: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  box-sizing: border-box;
  border: 4px solid #09122C;
}

.editable .skills > .icon {
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.5);
    border: 4px solid #472354;
}

.editable .skills > .icon.editing {
  border: 4px solid #235430;
  box-shadow: none;
}

.skills > .name {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
}

.skills > .meter {
  width: 100%;
  height: 1rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.skills > .meter > .progress {
  height: 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  background: #235430;
}