@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=Quintessential&display=swap');

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'IM Fell DW Pica', serif;
}

#root {
  position: absolute;
  top: 0%; left: 50%; transform: translate(-50%, 0);
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
}

.loader {
  width: 100%;
  height: 100%;
  background-size: 500%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: gradient 60s linear infinite;
}

.loader .loader-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #ffffff8f;
  box-shadow: #ffffff8f 0px 0px 1rem 1rem;
  width: 100%;
}

.loader h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'IM Fell DW Pica', serif;
  text-align: center;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'IM Fell DW Pica', serif;
  text-align: center;
  width: 100%;
}

.editable-text {
  display: flex;
  align-items: center;
}

input[type="file"]::file-selector-button {
  display: none;
}

textarea {
  background: none;
  border: none;
  outline: none;
  border-bottom: #000000 1px solid;
}

.editable-text > input, .editable-text > textarea {
  font-size: 1rem;
  font-family: 'IM Fell DW Pica', serif;
  border: none;
  background: none;
  color: #000000;
  outline: none;
  border-bottom: #000000 3px solid;
}

.modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;
}

.modal .content {
  position: relative;
  padding: 1rem;
  min-width: 20rem;
  min-height: 10rem;
  max-width: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
  box-sizing: border-box;
}

.modal .content::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 101;

  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  filter: url(#wavy2);
}

.modal .content * {
  position: relative;
  z-index: 102;
}

.share-button {
  position: absolute;
  top: 4rem;
  right: 1rem;
  background: #472354;
  color: #eee4ce;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  outline: none;
}
