@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=Quintessential&display=swap');

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'IM Fell DW Pica', serif;
}

#root {
  position: absolute;
  top: 0%; left: 50%; transform: translate(-50%, 0);
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
}

main:only-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

main:only-child > img {
  width: 100%;
  max-width: calc(100% - 10rem);
  margin-bottom: 20px;
}

main:only-child > .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 4rem);
}

main:only-child > .buttons > button {
  width: 100%;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #f0e391;
  cursor: pointer;
}

.editable-text {
  display: flex;
  align-items: center;
}

input[type="file"]::file-selector-button {
  display: none;
}

textarea {
  background: none;
  border: none;
  outline: none;
  border-bottom: #000000 1px solid;
}

.editable-text > input, .editable-text > textarea {
  font-size: 1rem;
  font-family: 'IM Fell DW Pica', serif;
  border: none;
  background: none;
  color: #000000;
  outline: none;
  border-bottom: #000000 3px solid;
}

.modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;
}

.modal .content {
  position: relative;
  padding: 1rem;
  min-width: 20rem;
  min-height: 10rem;
  max-width: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
  box-sizing: border-box;
}

.modal .content::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 101;

  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  filter: url(#wavy2);
}

.modal .content * {
  position: relative;
  z-index: 102;
}
